@page
@model EcoEnergyRazorPages.Pages.EnergyIndicatorsModel
@{
	ViewData["Title"] = "Indicadors energètics";
	List<string> header = ["Any", "CDEEBC_ProdNeta", "CCAC_GasolinaAuto", "CDEEBC_DemandaElectr", "CDEEBC_ProdDisp"];
}

<div>
	<div class="text-center"><h1 class="display-4">Indicadors energètics</h1></div>
	<p>@Model.MsgFileError</p>
	<a class="btn btn-primary" asp-page="\AddEnergyIndicator">Afegir Indicador energètic</a>
	@if (Model.EnergyIndicators.Any())
	{
		<table class="table">
			<thead>
				<tr>
					@foreach (string title in header)
					{
						<td>@title</td>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var indicator in Model.EnergyIndicators)
				{
					<tr>
						<td>@indicator.Data</td>
						<td>@indicator.CDEEBC_ProdNeta</td>
						<td>@indicator.CCAC_GasolinaAuto</td>
						<td>@indicator.CDEEBC_DemandaElectr</td>
						<td>@indicator.CDEEBC_ProdDisp</td>
					</tr>
				}
			</tbody>
		</table>
		<p>Quantitat de registres: @Model.EnergyIndicators.Count</p>

	}
	else
	{
		<h3>No hi ha simulacions</h3>
	}
	