@page
@model EcoEnergyRazorPages.Pages.SimulationsModel
@{
	ViewData["Title"] = "Simulacions";
	List<string> header = ["Tipus", "Hores de Sol", "Velocitat del Vent", "Cabal d'Aigua", "Rati", "Energia Generada", "Cost kWh", "Preu kWh", "Data i Hora"];
}

<div>
	<div class="text-center"><h1 class="display-4">Simulacions</h1></div>
	<p>@Model.MsgFileError</p>
	@if (Model.Simulations.Any())
	{
		<table class="table">
			<thead>
				<tr>
					@foreach (string title in header)
					{
						<td>title</td>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var sim in Model.Simulations)
				{
					<tr>
						@if ((int)sim.SysType == 1)
						{
							<td>Sistema Solar</td>
						}
						else if ((int)sim.SysType == 2)
						{
							<td>Sistema Eòlic</td>
						}
						else if ((int)sim.SysType == 3)
						{
							<td>Sistema Hidroelèctric</td>
						}
						else
						{
							<td>Sistema desconegut</td>
						}
						<td>@sim.Ratio</td>
						<td>@sim.EnergyGen</td>
						<td>@sim.KWHCost</td>
						<td>@sim.KWHPrice</td>
						<td>@sim.Date</td>
					</tr>
				}
			</tbody>
		</table>
		<p>Quantitat de registres: @Model.Simulations.Count</p>
	} else
	{
		<h3>No hi ha simulacions</h3>
	}
	<a class="btn btn-primary" asp-page="\AddSimulation">Afegir Simulació</a>
</div>