@page
@model EcoEnergyRazorPages.Pages.WaterConsumptionModel
@{
	ViewData["Title"] = "Consum d'aigua";
	List<string> header = ["Codi Comarca", "Comarca", "Any", "Consum"];
}

<div>
	<div class="text-center"><h1 class="display-4">Consum d'aigua</h1></div>
	<p>@Model.MsgFileError</p>
	<a class="btn btn-primary" asp-page="/AddWaterConsumption">Afegir Consum d'Aigua</a>
	@if (Model.WaterConsumptions.Any())
	{
		<table class="table">
			<thead>
				<tr>
					@foreach (string title in header)
					{
						<td>@title</td>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var water in Model.WaterConsumptions)
				{
					<tr>
						<td>@water.RegionCode</td>
						<td>@water.RegionName</td>
						<td>@water.Year</td>
						<td>@water.HouseholdConsumptionPerCapita</td>
					</tr>
				}
			</tbody>
		</table>
		<p>Quantitat de registres: @Model.WaterConsumptions.Count</p>
	}
	else
	{
		<h3>No hi ha registres</h3>
	}
</div>
