@model IEnumerable<EcoEnergyRazorPages.Model.DbSimulation>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Simulacions</h1>
</div>

<p>
    <a asp-action="Create" href="DbSimulations/Create" class="btn btn-primary">Crear Nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SystemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SunHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WindVelocity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterFlow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ratio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnergyGen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KWHCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KWHPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SystemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SunHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindVelocity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterFlow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ratio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyGen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KWHCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KWHPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" href="DbSimulations/Edit/@item.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" href="DbSimulations/Details/@item.Id" class="btn btn-primary">Detalls</a>
                <a asp-action="Delete" asp-route-id="@item.Id" href="DbSimulations/Delete/@item.Id" class="btn btn-primary">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
