@model IEnumerable<EcoEnergyRazorPages.Model.DbWaterConsumption>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<div class="text-center">
    <h1 class="display-4">Consums d'aigua</h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <form asp-action="Restore">
        <input type="submit" value="Restaurar" class="btn btn-primary" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseholdConsumptionPerCapita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseholdConsumptionPerCapita)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
